// Import page-specific CSS files here.
@import "home";
@import "done-order";
@import "new-order";
@import "show-offer";
@import "show-order";
@import "new-session";
@import "index_offer";
@import "new-offer";
@import "dashboard";

body {
  background-color: $blue;
}
html {
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    width: 0px;
    height: 10px;
  }
}
