.new-order-view {
  background: $blue;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  .order-top {
    display: flex;
    padding: 20px;
    justify-content: flex-start;
    align-items: center;
    justify-items: center;
    height: 200px;
    line-height: 1;
    background: linear-gradient(180deg, #DB0A40 0%, rgba(219, 10, 64, 0.973958) 2.6%, rgba(219, 10, 64, 0.973958) 34.9%, rgba(219, 10, 64, 0) 100%);
    h1 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      display: flex;
      color: white;
    }
    .iconify {
      font-size: 40px;
      color: white;
      margin-bottom: 5px;
      margin-right: 15px;
    }
  }
  .order-form {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .order_date_end{
      margin-top: 60px;
    }
    label {
      color: white;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 22px;
      margin-bottom: 45px;
    }
    select {
      padding: 10px 30px;
      border-radius: 12px;
      background-color: $pink;
      color: white;
      border: none;
      font-size: 18px;
      select {
        color: white;
      }
    }


  }
}

#new_order > input[type=submit]:nth-child(4) {
  background-color: $pink;
  border: none;
  border-radius: 12px;
  padding: 5px 30px;
  margin-top: 70px;
  font-size: 28px;
  color: white;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
}
