<div class="navbar">
  <div class="navbar-btn">
    <span class="iconify" data-icon="bi:search"></span>
    <label>explorer</label>
  </div>
  <div class="navbar-btn">
    <span class="iconify" data-icon="bi:heart">favorites</span>
    <label>favorites</label>
  </div>
  <div class="navbar-btn">
    <span class="iconify" data-icon="emojione-monotone:racing-car">cars</span>
    <label>cars</label>
  </div>
  <div class="navbar-btn">
    <span class="iconify" data-icon="bi:chat-square">messages</span>
    <label>messages</label>
  </div>
  <div class="navbar-btn">
    <span class="iconify" data-icon="iconoir:profile-circled">profile</span>
    <label>profile</label>
  </div>
</div>

