<div class="navbar">
  <%= link_to  new_offer_path do%>
  <div class="navbar-btn" >
    <span class="iconify" data-icon="fa-solid:car-alt"></span>
    <label>New Offer</label>
  </div>
  <% end %>
  <div class="navbar-btn">
    <span class="iconify" data-icon="bi:heart">favorites</span>
    <label>favorites</label>
  </div>
  <%= link_to offers_path do%>
  <div class="navbar-btn">
    <span class="iconify" data-icon="emojione-monotone:racing-car">cars</span>
    <label>cars</label>
  </div>
  <% end %>
  <div class="navbar-btn">
    <span class="iconify" data-icon="bi:chat-square">messages</span>
    <label>messages</label>
  </div>
  <div class="navbar-btn">
    <span class="iconify" data-icon="iconoir:profile-circled">profile</span>
    <label>profile</label>
  </div>
</div>
