<div class="offer-card">
  <div class="img">
    <span id="favorite" class="iconify" data-icon="bi:heart"></span>
  </div>
  <div class="infos">
    <div class="description">
      <h1 class="model-name">Model name</h1>
      <h2 class="new">New *</h2>
    </div>
      <h3 class="owner">Julien Leroux, Lyon - 10km<br>
      <span id="price">300€</span> / day</h3>
  </div>
</div>
