<div class="offer-card">
  <div class="img">
    <span id="favorite" class="iconify" data-icon="bi:heart"></span>
  </div>
  <div class="description">
    <h1 class="model-name">Model name</h1>
    <h2 class="new">New *</h2>
  </div>
  <h3 class="owner">Mathilde</h3>

</div>
