
<div class ="container">

  <div class>
  </div>

  <div class = "card-title">
      <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large">
      <div class="card-title-infos">
        <p><strong>Carla</strong></p>
        <p>3 days ago.</p>
      </div>
    </div>

    <div class="card-content">
      <p>Lorem ipsum dolor sit amet. Et adipisci voluptas et dolorem architecto eos autem repellat vel dolores distinctio ea perferendis consectetur sit dolor mollitia non velit consequatur. Nam numquam obcaecati qui eveniet deserunt quo internos nobis et minima maiores voluptatem distinctio.</p>
    </div>

    </div>

</div>
