.offer-card {
  width: 100vw;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 20px 0px;
  border-top: white 0.2px solid;
  border-width: 90%;
  &hover {
    background-color: darkblue;
  }

  .img {
    background-image: image-url("ferrari.jpg");
    box-shadow:inset 0 0 0 2000px #001a3051;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 350px;
    height: 350px;
    border-radius: 16px;
    display: flex;
    justify-content: end;

    .iconify {
      color: $pink;
      width: 40px;
      height: 40px;
      margin-top: 20px;
      margin-right: 20px;
    }
  }

}


.infos {
  margin-right: 80px;
  .description {
    width: 100%;
    height: 50px;
    display: flex;
    .model-name , .new{
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      justify-content: left;
      margin-top: 15px;
      color: white;
      margin-left: 0;
    }
    .new {
      position: absolute;
      margin-left: 220px;
    }
  }

  .owner {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: white;
    text-align: left;

  }

  #price {
    font-weight: 800;
  }
}


.offer-actions-title {
  justify-content: center;
}
