.offer-card {
  width: 100vw;
  height: 350px;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;

  .img {
    background-image: image-url("ferrari.jpg");
    box-shadow:inset 0 0 0 2000px #001a3051;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 350px;
    height: 350px;
    border-radius: 16px;
    display: flex;
    justify-content: end;

    .iconify {
      color: $pink;
      width: 40px;
      height: 40px;
      margin-top: 20px;
      margin-right: 20px;
    }
  }
  .description {
    width: 100%;
    height: 150px;
    background-color: aqua;
    display: flex;
    .model-name {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      justify-content: left;
    }
  }
}
